# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/inspectionProfiles/
/firehose-lambda/data-cleansing-hos-1/hos1.zip
.DS_Store
config/
data-factory/.gradle/
data-factory/build.gradle
data-factory/gradle/
data-factory/gradlew
data-factory/gradlew.bat
data-factory/settings.gradle
data-factory/src/
html/
/playground/
